@model SalesReportDetailViewModel




<div class="row">
    <div class="col-8 offset-2">
        <h1 class="display-4">Sales Report Details</h1>
        <hr />
        <p><strong>Sales Name:</strong> @Model.SalesReport.SalesName</p>
        <p><strong>Sales Date:</strong> @Model.SalesReport.SalesDate</p>
        <p><strong>Sales Quantity:</strong> @Model.SalesReport.SalesQuantity.ToString("c")</p>
        <hr />

        <h2 class="display-6">Products</h2>



        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.ProductName</td>
                        <td>@product.Price.ToString("c")</td>


                    </tr>
                }
            </tbody>
        </table>

         
    </div>
</div>



