@model SalesReportDetailViewModel

 


<div class="row">
    <div class="col-8 offset-2">
        <h1 class="display-4">Sales Report Details</h1>
        <hr />
        <p><strong>Sales Name:</strong> @Model.SalesReport.SalesName</p>
        <p><strong>Sales Date:</strong> @Model.SalesReport.SalesDate</p>
        <p><strong>Sales Quantity:</strong> @Model.SalesReport.SalesQuantity.ToString("c")</p>
        <hr />

        <h2 class="display-6">Products</h2>
        <ul class="list-group">
            @foreach (var product in Model.Products)
            {
            <li class="list-group-item" >@product.ProductName - @product.Price.ToString("c")</li>
            }
        </ul>
    </div>
</div>


  
